* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

/* Header Styling */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    
}

nav a {
    margin-left: 2rem;
    font-size: 1.5rem;
    color: white;
    transition: 0.3s;
}

nav a:hover{
    text-decoration: none;
    color: #fdfdfd;
    border-bottom: 2px solid #d69e9e;
}

/* Home Section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5rem;
    background: linear-gradient(to right, black, #1a1a1a);
}

/* Home Content Layout */
.home-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* Profile Image Styling */
.home-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #776b6b;
    box-shadow: 0 0 20px rgba(133, 117, 117, 0.8);
    transition: transform 0.3s ease;
}

.home-img img:hover {
    transform: scale(1.1);
}

/* Text Content Styling */
.home-content {
    text-align: left;
    max-width: 500px;
}

.home-content h1 {
    font-size: 3rem;
    color: white;
}

.home-content span {
    color: #b74b4b;
}

.home-content p {
    font-size: 1.0rem;
    margin-top: 10px;
    line-height: 1.5;
}

/* Social Icons */
.social-icons {
    margin-top: 1.5rem;
}

.social-icons a {
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #b74b4b;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 20px;
    background: #b74b4b;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background: white;
    color: black;
}
